.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: none;
	box-shadow: inset 0 0 10px #565661,
				0 0 10px #E5E9FF;
	background-color: #E5E9FF;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
}

.Invalid {
	color: #E5E9FF;
	background-color: #800000;
	box-shadow: inset 0 0 10px #565661,
				0 0 10px #800000;
}