button:active,
button:focus,
button:hover {
	outline: none !important;
	text-decoration: none !important;
}

a {
	color: #E5E9FF;
	font-size: 1.9rem;
	text-decoration: none !important;
}

a:hover {
	color: #E5E9FF;
}

.spBtn {
	color: #E5E9FF;
	background: transparent;
	border: none;
	text-decoration: none;
}

.spBtn:hover {
	color: #E5E9FF;
}