body {
	font-family: 'Metal Mania', cursive;
	background-color: #5F5F6B;
	color: #E5E9FF;
}

.cover-container {
	background-color: #565661;
	box-shadow: inset 0 0 10px #5F5F6B,
				0 0 10px #565661;
}

.spBG {
	background-color: #5F5F6B;
}